<!DOCTYPE html>
<html>
<head>
	<title>Аэропорт</title>

	<script src="../../../public/js/codebase/webix.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../../../public/js/codebase/skins/material.css">
    <link rel="shortcut icon" href="../../../public/img/tabicon.ico">
    <script type="text/javascript" src="../../../public/js/app.js"></script>
    <script type="text/javascript" src="../../../public/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="../../../public/js/view.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">

</head>
<body>

</body>
</html>